.dropdown-menu > li.portfolio-header {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ffffff;
  white-space: nowrap;
}

.dropdown-menu > li > a.portfolio-live {
  display: inline-block;
}

.dropdown-menu > li > a.portfolio-source {
  display: inline-block;
}

li.ecr-footer-links {

}
li.ecr-footer-links > a {

}

li > .er-email {
  background-color: #1485CC;
}

li > .er-email:before {
  content: "@"
}
