:root {
  --er-navbar-color: #ffffff;
}

.dropdown-menu > li.portfolio-header {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ffffff;
  white-space: nowrap;
}

.dropdown-menu > li > a.portfolio-live {
  display: inline-block;
}

.dropdown-menu > li > a.portfolio-source {
  display: inline-block;
}

ul.er-footer-links {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
}

ul.er-footer-links > li {
  display: inline-block;
}

ul.er-footer-links > li > a {
  display: inline;
}

.er-navbar {
    /* initial background inspiration thanks to Lea Verou at
    http://lea.verou.me/css3patterns/#carbon-fibre */
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.er-navbar > a {
  color: #ffffff;
}

.navbar-nav.er-navbar-nav > li > a {
  color: #ffffff;
}

.navbar-brand.er-navbar-brand {
  color: #ffffff;
}

.er-footer-links {
  color: #C31B1B;
}

.er-footer-links > li > a {
  color: #C31F26;
}
