.dropdown-menu > li.portfolio-header {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ffffff;
  white-space: nowrap;
}

.dropdown-menu > li > a.portfolio-live {
  display: inline-block;
}

.dropdown-menu > li > a.portfolio-source {
  display: inline-block;
}

ul.footer-links {
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  color: #ffffff
}

ul.footer-links > li {
  display: inline-block;
}

ul.footer-links > li > a {
  display: inline
}

li > .er-email {
  background-color: #1485CC;
}
